<!DOCTYPE html>
<link rel="stylesheet" >
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Image Sample</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <%=img%>
    <div class="container">
        <img src="<%=img%>" alt="img" class="responsive-image">
        <img src="/uploads/images/bottom.png" alt="img" class="responsive-image">
    </div>
</body>
</html>